@keyframes menu-selected-glow {
	0% {
		text-shadow: 0 0 1px #000000, 0 0 0px #FFFFFF, 0 0 0px #FFFFFF;
	}

	100% {
		text-shadow: 0 0 1px #000000, 0 0 5px #FFFFFF, 0 0 2px #FFFFFF;
	}
}

.menu-container {
	position: fixed;
	top: 0px;
	bottom: 0px;
	right: 0px;
	/* width: 300px; */
	height: 100vh;
	transition-duration: var(--transition-standard);
}

.menu-container .menu {
	position: absolute;
	right: 0;
	backdrop-filter: blur(60px);
	border-left: 1px solid white; /* TOOD: Improve */
	/* min-width: 560px; */
	box-sizing: border-box;
	padding-left: 40px;
	padding-right: calc(80px + 20%);
	width: max-content;
	height: 100%;
	display: flex;
	justify-content: center;
	flex-direction: column;
	translate: 100%;
	transition-duration: var(--transition-standard);
	/* transition-timing-function: var(--timing-function-accelerate); */
	transition-timing-function: var(--timing-function-ease);
	gap: 5px;
	opacity: 0;
	font-size: 28px;
}

.menu-container .menu.open {
	translate: 0px;
	opacity: 1;
	/* transition-timing-function: var(--timing-function-decelerate); */
	box-shadow: 0 0 1px 1px #000000, 0 36px 100px 0 rgba(0, 0, 0, 0.70);
}

.menu-container .menu .menu-item-container {
	display: flex;
	flex-direction: column;
	gap: 5px;
	height: 1.2em;
	transition-duration: var(--transition-standard);
}

.menu-container .menu .menu-item {
	opacity: 0.6;
	transition-duration: var(--transition-standard);
	/* scale: 0.9; */
	line-height: 1.2em;
	transform-origin: center left;
}

.menu-container .menu .menu-item.selected {
	opacity: 1;
	animation: 2s menu-selected-glow var(--timing-function-ease) both infinite alternate;
	scale: 1.2;
	/* font-size: 1.1em; */
}