/* Status Bar */

.status-bar {
	position: fixed;
	top: 40px;
	right: 0;
	border: 2px solid rgba(255, 255, 255, 0.40);
	border-right: none;
	border-radius: 0.25rem 0 0 0.25rem;
	width: 30vw;
	height: 1.8rem;
	padding-right: 7.5vw;
	gap: 0.5em;
	justify-content: flex-end;
	/* align-content: center;
	justify-items: center; */
	align-items: center;
	display: flex;
	/* box-sizing: border-box; */
	backdrop-filter: blur(60px) saturate(280%) brightness(60%);
	opacity: 0;
	transition-duration: var(--standard-duration);
	transition-delay: var(--standard-duration);
}

.status-bar.visible {
	opacity: 1;
}

.status-bar.no-border {
	border: none;
}

.status-bar .date {
	display: flex;
	gap: 0.5em;
	font-variant: tabular-nums;
}