.background {
	position: fixed;
	z-index: -1;
	inset: 0;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-color: rgba(0, 0, 0, 1);
	transition-duration: var(--standard-duration);
}

.background.image {
	/* background-image: url("/background/Desktop.png"); */
}