	translate: -320px;
	transition-duration: var(--transition-standard);
	z-index: -5;
}

#x-bar-root.active {
	translate: 0px;
	transition-delay: var(--transition-standard);
}

.xb-category {
	position: absolute;
	transition-duration: var(--transition-standard);
}

#x-bar-root .xb-category {
	opacity: 0;
}

#x-bar-root.active .xb-category {
	opacity: 1;
}

#x-bar-root:not(.active) .xb-category.selected {
	opacity: 1;
}

.xb-category .xb-category-icon {
	position: absolute;
	width: 128px;
	height: 128px;
	top: 256px;
	display: flex;
	align-items: center;
	flex-direction: column;
	z-index: -1;
	transition-duration: var(--transition-standard);
}

.xb-category .xb-category-icon img {
	opacity: 0.7;
	scale: 0.875;
	transition-duration: var(--transition-standard);
}

.xb-category.selected .xb-category-icon img {
	opacity: 1;
	scale: 1.33;
}

.xb-category .xb-category-icon .xb-category-title {
	opacity: 0;
	white-space: nowrap;
	transition-duration: var(--transition-standard);
}

#x-bar-root.active .xb-category.selected .xb-category-icon .xb-category-title {
	opacity: 1;
}

.xb-category .xb-category-content {
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	transition-duration: var(--transition-standard);
}

.xb-category.selected .xb-category-content {
	opacity: 1;
}

.xb-item {
	position: absolute;
	height: 120px;
	display: flex;
	flex-direction: row;
	gap: 80px;
	align-items: center;
	transition-duration: var(--transition-standard);
	z-index: -2;
}

.xb-item .xb-item-icon {
	display: flex;
	width: 128px;
	height: 128px;
	justify-content: center;
	opacity: 0.7;
	scale: 0.875;
	transition-duration: var(--transition-standard);
}

.xb-item .xb-item-info {
	display: flex;
	flex-direction: column;
	height: auto;
	position: relative;
	transition-duration: var(--transition-standard);
}

.xb-item .xb-item-info .xb-item-name {
	font-weight: 400;
	white-space: nowrap;
	transition-duration: var(--transition-short);
}

.xb-item.xb-item.selected .xb-item-info .xb-item-name {
	font-weight: 600;
}

.xb-item .xb-item-info .xb-item-desc {
	opacity: 0;
	width: 800px;
	position: absolute;
	top: 1lh;
	transition-duration: var(--transition-short);
}

.xb-category.selected .xb-item.selected .xb-item-info .xb-item-name {
	animation: var(--text-glow);
}

/* .xb-category.selected */ .xb-item.selected .xb-item-icon {
	opacity: 1;
	scale: 1.33;
}

/* .xb-category.selected */ .xb-item.selected .xb-item-info .xb-item-desc {
	opacity: 1;
}

#x-bar-root:not(.active) .xb-item {
	opacity: 0;
}

#x-bar-root:not(.active) .xb-category.selected .xb-item.selected {
	opacity: 1;
}

#x-bar-root:not(.active) .xb-category.selected .xb-item.selected {
	opacity: 1;
}

#x-bar-root:not(.active) .xb-category.selected .xb-item.selected .xb-item-name,
#x-bar-root:not(.active) .xb-category.selected .xb-item.selected .xb-item-desc {
	opacity: 0;
}