@keyframes key-text-glow {
	from {
		text-shadow: 0 0 0;
	}

	to {
		text-shadow: 0 0 0.2em;
	}
}

@keyframes blink {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

/* Keyboard */

.keyboard {
	--accent-colour: #00A4DC;
	--blink-animation: 0.5s linear 0s infinite alternate blink;

	font-size: 25px;
	line-height: 1;
	/* line-height: 30px; */
	/* line-height: 1.5; */
	font-weight: 700;
	display: flex;
	flex: 0;
	flex-direction: column;
	gap: 8px;
	padding: 0.4em;
	border-radius: 0.6em;
	/* background: linear-gradient(to bottom, #cedce7 0%, #596a72 100%); */
	/* background: #596a72; */
	/* background: #767676; */
	background: #101010;
	/* color: black; */
	color: white;
	text-align: center;
	opacity: 0;
	/* top: 50%; */
	/* left: 50%; */
	/* position: fixed; */
	position: absolute;
	z-index: 1000000;
	box-shadow: 0 0 1px 1px #000000, 0 36px 100px 0 rgba(0, 0, 0, 0.70);
	transition-duration: var(--transition-standard);
}

.keyboard.open {
	opacity: 1;
}

.keyboard .input {
	text-align: left;
	white-space: pre;
	height: 1.6em;
	line-height: 1.5;
	overflow: visible;
}

.keyboard .cursor {
	position: absolute;
	height: 1em;
	margin: 0.25em 0;
	width: 0;
	box-sizing: border-box;
	border-left: 0.05em solid;
	border-right: 0.05em solid;
	overflow: visible;
	animation: var(--blink-animation);
}

.keyboard .row {
	height: 1.8em;
	gap: inherit;
	display: grid;
	grid-template-columns: repeat(10, 2em);
}

.keyboard .row .key {
	display: flex;
	/* height: 1.6em; */
	height: 100%;
	font-size: 1.125em;
	position: relative;
	align-content: center;
	justify-content: center;
	vertical-align: middle;
	box-sizing: border-box;
	border-radius: 0.2em;
	color: white;
	/* background: linear-gradient(to bottom, #f2f5f6 0%, #e3eaed 37%, #c8d7dc 100%); */
	/* background: linear-gradient(to bottom, #CCCCCC 0%, #AAAAAA 100%); */
	/* background: #AAAAAA; */
	/* background: radial-gradient(ellipse at center, #eeeeee 0%, #cccccc 100%); */
	/* background: linear-gradient(to bottom, #9b9b9b 0%, #eeeeee 25%, #eeeeee 75%, #aaaaaa 100%); */
	background: #1F1F1F;
	transition-duration: var(--transition-short);
	border: 2px solid rgba(255, 255, 255, 0.20);
	box-shadow: 0px 0px 0px 0px var(--accent-colour), 0px 0px 0px 0px var(--accent-colour);
}

.keyboard .row .key .char {
	display: flex;
	margin: auto;
	justify-content: center;
	align-content: center;
	vertical-align: middle;
	font-feature-settings:
		"ss03" 1,
		"cv01" 1,
		/* "cv05" 1, */
		"cv06" 1,
		"cv07" 1,
		/* "cv09" 1, */
		"cv10" 1,
		"case" 1;
	font-feature-settings: 
		"ss07" 1,
		"ss08" 1,
		"cv01" 1,
		"cv05" 1, /* Lowercase "l" with tail */
		"cv07" 1, /* Alternate German double s (ß) */
		"cv08" 1, /* Uppercase "I" with serifs */
		/* "cv09" 1, */ /* Flat-top 3 */
		"cv10" 1, /* G with spur */
		"calt" 1, /* Contextual Alts (Generally irrelavant on keyboard) */
		"ccmp" 1,
		"cpsp" 1,
		"dlig" 1;
	/* font-variant: none; */
	/* line-height: 1.5; */
	/* font-family: "New Rail Alphabet", "M Plus 1P"; */
	/* font-weight: 500; */
}

.keyboard .row .key .char.small {
	font-size: 0.8em;
}

.keyboard .row .key .icon {
	display: flex;
	/* height: 0.8em; */
	flex: 1;
	text-align: center;
	justify-content: center;
	margin: auto;
	font-family: "Microns";
	font-size: 1.4em;
	line-height: 0.8;
}

.keyboard.open .row .key.active {
	/* background: linear-gradient(to bottom, #eeeeee 0%, #cccccc 100%); */
	/* background: linear-gradient(to bottom, #FFFFFF 0%, #DDDDDD 100%); */
	/* background: #EEEEEE; */
	/* background: radial-gradient(ellipse at center, #f2f5f6 0%, #e3eaed 37%, #c8d7dc 100%); */
	background: #3F3F3F;
	/* box-shadow: 0 0 1px 1px #000000, 0 9px 25px 0 rgba(0, 0, 0, 0.70); */
	box-shadow: 0 0 4px 2px var(--accent-colour), 0 0 1px 2px var(--accent-colour);
	/* outline: 0.1em solid; */
	z-index: 1000;
	/* animation: var(--text-glow); */
	/* scale: 1.1; */
	translate: 0px -2px;
}

.keyboard.open .row .key.highlight {
	background: var(--accent-colour);
	background: #AA5CC3;
	/* background: linear-gradient(to bottom right, #AA5CC3, #00A4DC); */
	background: #00A4DC; /* Official Jellyfin accent colour */
}

/* .keyboard .row.functions-1,
.keyboard .row.functions-2 {
	display: grid;
} */

.keyboard .row.functions-1 .key,
.keyboard .row.functions-2 .key {
	width: auto;
}