@keyframes text-glow {
	from {
		filter: drop-shadow(0px 0px 0px #FFF) /* drop-shadow(0px 0px 0px #FFF) */ drop-shadow(0px 0px 3px black);
		/* text-shadow: 0px 0px 0px #FFF; */
	}

	to {
		filter: drop-shadow(0px 0px 8px #FFF) /* drop-shadow(0px 0px 4px #FFF) */ drop-shadow(0px 0px 3px black);
		/* text-shadow: 0px 0px var(--blur) #FFF; */
	}
}

@keyframes fade-in {
	from {
		opacity: 0;
		/* transform: translateX(240px); */
	}

	to {
		/* opacity: 1; */
		/* transform: translateX(0); */
	}
}

@keyframes scale-in {
	from {
		scale: 0.8;
	}

	to {}
}

:root {
	cursor: none;
	font-family: Inter, Avenir, Helvetica, Arial, "M PLUS 1P", "Microns", sans-serif;
	font-feature-settings:
		"ss07" 1,
		"ss08" 1,
		"cv01" 1,
		/* "cv05" 1, */
		/* "cv06" 1, */
		"cv07" 1,
		/* "cv08" 1, */
		/* "cv09" 1, */
		"cv10" 1, /* G with spur */
		"calt" 1,
		/* "case" 1, */
		"ccmp" 1,
		"cpsp" 1,
		"dlig" 1;
	font-size: 32px;
	line-height: 40px;
	font-weight: 400;
	/* color: #0f0f0f; */
	color: #f6f6f6;
	color: #FFF;
	/* background-color: #f6f6f6; */
	/* background-color: black; */
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;

	--text-colour: #FFF;
	--text-shadow: 0.5px 0.5px 1px #000;
	
	/* --timing-function-decelerate: cubic-bezier(0.61, 1, 0.88, 1);
	--timing-function-accelerate: cubic-bezier(0.12, 0, 0.39, 0);
	--timing-function-ease: cubic-bezier(0.37, 0, 0.63, 1); */
	/* --timing-function-decelerate: ease-out; */
	/* --timing-function-accelerate: ease-in; */
	/* --timing-function-ease: ease-in-out; */
	--timing-function-decelerate: cubic-bezier(0.5, 1, 0.89, 1); /* Ease-Out Quadratic */
	/* --timing-function-decelerate: cubic-bezier(0, 0.55, 0.45, 1); */ /* Ease-Out Circle */
	--timing-function-accelerate: cubic-bezier(0.11, 0, 0.5, 0); /* Ease-In Quadratic */
	/* --timing-function-accelerate: cubic-bezier(0.55, 0, 1, 0.45); */ /* Ease-In Circle */
	/* --timing-function-accelerate: cubic-bezier(0.7, 0, 0.84, 0); */ /* Ease-In Exponential */
	/* --timing-function-ease: cubic-bezier(0.45, 0, 0.55, 1); */ /* Ease-In-Out Quadratic */
	/* --timing-function-ease: cubic-bezier(0.5, 1, 0.89, 1); */ /* Ease-Out Quadratic */
	--timing-function-ease: cubic-bezier(0, 0.55, 0.45, 1); /* Ease-Out Circle */
	--transition-short: 150ms;
	--standard-duration: 300ms;
	--transition-standard: var(--standard-duration);
	/* --standard-duration: 200ms; */
	--transition-long: 450ms;
	--fade-in: var(--standard-duration) fade-in var(--timing-function-ease) /* calc(var(--transition-short) * 2) */;
	--scale-fade-in: var(--transition-long) fade-in backwards var(--timing-function-decelerate) var(--transition-standard), var(--transition-long) scale-in var(--timing-function-decelerate) var(--transition-standard);
	/* --scale-fade-out: var(--transition-long) fade-in both reverse var(--timing-function-decelerate), var(--transition-long) scale-in both reverse var(--timing-function-decelerate); */
	--text-glow: 2s text-glow var(--timing-function-ease) both infinite alternate /* calc(var(--transition-short) * 2) */;
}

* {
	transition-timing-function: var(--timing-function-ease);
}

@keyframes rotate-forever {
	from {
		rotate: 0deg;
	}

	to {
		rotate: 360deg;
	}
}

.spin-baby-spin {
	animation: rotate-forever 1s infinite linear;
}

.fade-in-later {
	animation-name: fade-in;
	animation-fill-mode: backwards;
	animation-delay: 1s;
	animation-duration: var(--transition-standard);
	animation-timing-function: var(--timing-function-decelerate);
}

body {
	margin: 0;
	cursor: none;
}

:root, body, html {
	overflow: hidden;
	background: transparent;
	cursor: none;
}

#home-root, #video-root {
	width: 100vw;
	height: 100vh;
	position: fixed;
	inset: 0;
	transition-duration: 600ms;
}

/* Mask(s) */

.fullscreen-mask {
	position: fixed;
	inset: 0;
}

.fullscreen-mask.bottom {
	mask-image: linear-gradient(to bottom, #000F 0%, #000F calc(100% - 120px), #0000 100%);
}

.fullscreen-mask.top {
	mask-image: linear-gradient(to bottom, #0000 0%, #000F 120px, #000F 100%);
}

.fullscreen-mask.top.bottom {
	mask-image: linear-gradient(to bottom, #0000 0%, #000F 120px, #000F calc(100% - 120px), #0000 100%);
}

.background-blur {
	position: fixed;
	inset: 0;
	transition: var(--transition-standard);
}

.background-blur.active {
	/* backdrop-filter: blur(60px); */
}

/* List */

.content-list {
	position: absolute;
	left: 300px;
	display: flex;
	transition-duration: var(--transition-standard);
	flex-direction: column;
}

.content-list.text {

}

.content-list.text .list-item {
	height: 56px;
	font-size: 56px;
	line-height: 1;
	display: flex;
	transition-duration: 150ms;
}

.content-list.text .list-item.selected {
	animation: var(--text-glow);
}

/* Control Panels */

.control-panel {
	position: relative;
	font-size: 24px;
	display: flex;
	flex-direction: column;
	--text-colour: #f6f6f6;
	position: fixed;
	top: 240px;
	left: 360px;
	transition-duration: var(--standard-duration);
	opacity: 0;
	text-align: center;
	align-content: center;
	justify-content: center;
	align-items: center;
}

.control-panel.active {
	opacity: 1;
}

#video-control-panel {

}

.control-panel .button-row {
	display: flex;
	flex-direction: row;
	gap: 16px;
	justify-content: center;
	align-items: center;
}

.control-panel-button {
	transition-duration: var(--standard-duration);
	justify-content: center;
	align-items: center;
	display: flex;
	font-weight: 800;
	text-transform: uppercase;
	filter: drop-shadow(0px 0px 3px black);
}

.control-panel-button:hover, .control-panel-button.active {
	scale: 1.25;
	animation: var(--text-glow);
	/* filter: drop-shadow(0px 0px 3px black) drop-shadow(0px 0px 1px black) drop-shadow(0px 0px 5px white); */
}

.control-panel-button *[fill*="#"] {
	fill: #f6f6f6;
}

.control-panel-button *[stroke*="#"] {
	stroke: #f6f6f6;
}

.control-panel span {
	position: absolute;
	font-size: 36px;
	font-weight: 600;
	text-shadow: 1px 1px 3px black, /* 0px 0px 6px black, */ 0px 0px 10px black;
	-webkit-text-stroke: 0.5px black;
	top: calc(100% + 20px);
}

/* Grid */

.content-grid {
	/* display: grid; */
	/* gap: 60px; */
	/* grid-template-columns: repeat(6, 240px); */
	/* grid-template-rows: repeat(auto, 400px); */
	/* justify-content: center; */
	position: fixed;
	inset: 0;
	/* transition-duration: var(--transition-standard); */
	transition-duration: var(--transition-long);
	animation: var(--scale-fade-in);
	will-change: opacity scale;
}

.content-grid .grid-item {
	position: absolute;
	/* position: relative; */
	display: flex;
	/* background-color: grey; */
	/* width: 240px;
	height: 360px; */
	transition-duration: var(--transition-standard);
	/* transition-timing-function: var(--timing-function-ease); */
}

/* Film and TV Series detail views */

.film-info,
.series-info {
	position: fixed;
	inset: 0;
	display: flex;
	flex-direction: column;
	animation: var(--scale-fade-in);
	transition-duration: var(--transition-long);
	will-change: opacity scale;
}

.film-h-split {
	width: 100%;
	display: flex;
	flex-direction: row;
	gap: 80px;
}

.series-info .episode-list {
	position: fixed;
	inset: 0;
	transition-duration: var(--transition-standard);
	will-change: opacity;
}

.series-info .episode-container {
	width: 400px;
	position: absolute;
	top: 420px;
	left: 120px;
	transition-duration: var(--transition-standard);
	display: flex;
	flex-direction: column;
	gap: 36px;
	will-change: translate;
}

.series-info .episode-container img {
	animation: var(--fade-in);
	animation-fill-mode: backwards;
	animation-delay: var(--transition-short);
}

.pseudo-episode-panel {
	animation: var(--fade-in);
	animation-delay: var(--standard-duration);
	position: absolute;
	background: var(--panel-blank-colour);
	top: 420px;
	left: 120px;
	width: 400px;
	height: 225px;
	border-radius: 16px;
	transition-duration: var(--standard-duration);
	will-change: translate;
}

.film-info .film-cover {
	padding-top: 80px;
}

.film-info .film-cover,
.series-info .episode-info {
	padding-left: 80px;
	box-sizing: border-box;
}

.series-info .episode-info {
	width: 100%;
}

.film-info .film-cover h1, .film-info .film-cover h5,
.series-info /* .episode-info */ h1, .series-info h5 {
	white-space: nowrap;
	text-overflow: ellipsis;
}

.film-info .film-details {
	padding-top: 80px;
	padding-right: 80px;
	transition-duration: var(--transition-standard);
}

.series-info .episode-overview {
	--top: 685px;
	position: fixed;
	/* top: 640px; */
	top: var(--top);
	left: 80px;
	right: 80px;
	transition-duration: var(--transition-standard);
}

.film-info .film-details span,
.series-info .episode-overview span {
	display: flex;
	font-size: 28px;
	font-weight: 600;
	margin-bottom: 1em;
	opacity: 0.6;
}

.film-info .film-details span.technical,
.series-info .episode-overview span.technical {
	margin-bottom: 0px;
}

.film-info .film-details p,
.series-info .episode-overview p {
	overflow: hidden;
	text-overflow: ellipsis;
	transition-duration: var(--standard-duration);
}

.series-info .episode-overview p {
	max-height: 4lh;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	line-clamp: 4;
	-webkit-line-clamp: 4;
}

.series-info .episode-overview.focused {
	translate: 0px -270px;
}

.series-info .episode-overview.focused p {
	-webkit-line-clamp: 100000;
	max-height: unset;
}

/* Video scren-specific stuff */
#video-root .video-info {
	position: fixed;
	inset: 0px 0px auto;
	/* padding: 60px 80px 10px; */
	padding: 80px 100px 10px;
	transition-duration: var(--standard-duration);
	background-color: rgba(0, 0, 0, 0.8);
	display: flex;
	gap: 0.5em;
}

#video-root .video-timeline {
	position: fixed;
	inset: auto 0px 0px;
	transition-duration: var(--standard-duration);
	background-color: rgba(0, 0, 0, 0.8);
	display: flex;
	/* padding: 10px 80px 60px; */
	padding: 10px 100px 80px;
	justify-content: flex-end;
}

#playback-status-indicator {
	position: fixed;
	width: 64px;
	height: 32px;
	/* bottom: 60px; */
	bottom: 80px;
	/* left: 80px; */
	left: 100px;
	transition-duration: var(--standard-duration);
	filter: drop-shadow(0px 0px 1px black) drop-shadow(0px 0px 3px black);
	/* opacity: 1!important; */
}

#playback-status-indicator *[fill*="#"] {
	fill: #f6f6f6;
}

#playback-status-indicator *[stroke*="#"] {
	stroke: #f6f6f6;
}

/* #playback-status-indicator.Playing {
	opacity: 0!important;
	animation: var(--fade-in);
	animation-direction: reverse;
	animation-delay: 5s;
	animation-fill-mode: none;
} */

/* Confirmation Prompt */
.dialog {
	position: fixed;
	inset: 0;
	background:rgba(0, 0, 0, 0.95);
	display: flex;
	justify-content: center;
	flex-direction: column;
	transition-duration: var(--transition-standard);
}

.dialog .content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 2rem;
	height: calc(100% - 280px);
	border-top: 1px solid white;
	border-bottom: 1px solid white;
	/* font-size: 28px; */
}

.dialog .content .message {
	display: flex;
}

.dialog .content .options {
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 200px;
}

.dialog .content .options .option {
	scale: 0.825;
	transition-duration: var(--transition-standard);
}

.dialog .content .options .option.selected {
	font-weight: 500;
	/* scale: 1.2; */
	scale: 1;
	animation: var(--text-glow);
}